system/application/config/config.php
system/application/config/cloudengine.php
system/application/config/cli-config.php
system/application/config/database.php
system/application/config/mollom.php
system/application/language/*/LC_MESSAGES/*.mo
favicon.ico

*BAK*
composer.lock
vendor/*
node_modules/*

/application
/dropbox*
.DS_Store

*.gz
*.gzip
*.sql
*.log
_cloudworks_data/

# End.
