/*!
  Cloudworks stylesheet | ©The Open University | License: GPL-2.0.

  NDF 7 March 2012.
*/

#region2  h2 {background:#ebd9c1     ;}

#user-profile #region2  h2 {background:#ebd9c1     ;}

#region2 .box {background: #FEF9E5     ; border:2px solid #EBD9C1     ;}
#region2 .box h2 {background:#ebd9c1     ;}

#region2 .box a{color: #6B4824     ;}
#region2 .box a:hover {color: #00822b     ;}
