/*!
  Aurora stylesheet | ©The Open University | License: GPL-2.0.
*/


body h2 {color: #fff; background:#1E466A;}
.user-entry h2, .extra-content h2, .user-comment h2{color: #333; background:transparent;}

body div#site-header {height:175px; background: url(header-bg-aurora.jpg) top left repeat-x;}

/* Aurora */

body div#site-nav ul li {color: #fff;}

body div#site-nav ul li a {color:#99ccff;}

body div#site-nav ul li a:hover {color: #fff; background:url(arrow-down-nav-fff.gif) center top no-repeat;}

#home #site-nav ul li.home,
#cloudscapes #site-nav ul li.cloudscapes,
#clouds #site-nav ul li.clouds,
#events #site-nav ul li.events,
#tags #site-nav ul li.tags,
#people #site-nav ul li.people,
#support #site-nav ul li.support {color:#fff; background:url(arrow-down-nav-fff.gif) center top no-repeat;}



/* Aurora */

div#region2 div.box {background: #E0EFFF; border:2px solid #CCE5FF;}

div#region2 div.box h2 {background:#1E466A; font-size:1.2em;}

div#region2 div.box a {color: #003399;}

div#region2 div.box a:hover {color: #003399;}

body div.box {background: #E0EFFF; border: 2px solid #CCE5FF;}


.new-message-count{background:transparent; color:#fff; font-weight:bold;}
